/**
 * Theme Name: Blocksy Child
 * Description: Blocksy Child theme
 * Author: Creative Themes
 * Template: blocksy
 * Text Domain: blocksy
 */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
	font-family: 'Quicksand', sans-serif !important;
}

body h1 {
	font-family: 'Archivo Black', sans-serif;
}

.ugb-heading:after, .blog .page-title:after, .page .page-title:after {
    content:none !important;
}

.my-syntax-highlighter .mshighlighter  .CodeMirror  {
	padding:1rem;
}

code, kbd, samp, pre {
	background:none !important;
}